<!DOCTYPE html>
<html>

<head>
<title>Marzio Rosi</title>
<meta property="og:site_name" content="Marzio Rosi">
<meta property="og:description" content="Sito ufficiale.">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
<header>  
	
<font color="red">
<h1>Marzio Rosi</h1>
</font><br>
<p><code>Sito web ufficiale hostato su Github.</code><p><br>

<h2>Info</h2><br>

<p>In costruzione!<p>


</header>
<section>



</section>
	
</body>
</html>